@page "/Hotel-Room"

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Hotel Rooms</h4>
    </div>
    <div class="col-3 offset-1">
        <a href="Hotel-Rooms/create" class="btn btn-primary">Add New Room</a>
    </div>
</div>



@code {

}
